2º Trimestre/Tema 5/DTD/Ejemplo/ejemplo1.dtd

<!ELEMENT aviso (de, (para|cc)+ ,mensajes,direccion?)>
    <!ELEMENT de (#PCDATA)>
    <!ELEMENT para (#PCDATA)>
    <!ELEMENT cc (#PCDATA)>
    <!ELEMENT mensajes (mensaje+)>
    <!ELEMENT mensaje (#PCDATA)>
    <!ELEMENT direccion (#PCDATA)>
    <!ATTLIST mensaje tipo (facebook|whatsup|x) "facebook">